<!-- I THINK THERE WAS SOMETHING ABOUT NEEDING A STREET ADDRESS FOR ATS COMPLIANCY WASN'T THERE? -->

<header>
	<h1>{{name.full}}</h1>
	<p>{{tagLine}}</p>
</header>

<aside>
	<h2>{{strings.skills}}</h2>
	<p>{{blurb}}</p>

	<hr>

	<h2>{{strings.contact}}</h2>
	<p>
		{{strings.email}}: <a href="mailto:{{contact.email}}">{{contact.email}}</a>
		<br>
		{{strings.phone}}: <a href="tel:{{contact.phone}}">{{contact.phone}}</a>
		<br>
		{{strings.instagram}}: <a href="https://instagram.com/{{contact.instagram}}/">@{{contact.instagram}}</a>
	</p>

</aside>

<main>
	<section>
		<h2>{{strings.experience}}</h2>
		<ol class="jobs">
			{{#jobs}}
			<li>
				<strong>{{title}} | {{company}} | {{start}} &mdash; {{end}}</strong>
				<ul>
					{{#tasks}}
						<li>{{.}}</li>
					{{/tasks}}
				</ul>
			</li>
			{{/jobs}}
		</ol>
	</section>
	<section>
		<h2>{{strings.languageSkills}}</h2>
		<p>
			{{#languages}}
			{{language}}: {{fluency}}
			{{^isLast}}<br>{{/isLast}}
			{{/languages}}
		</p>
	</section>
	<section>
		<h2>{{strings.education}}</h2>
		{{#education}}
			<p>
				<strong>{{institution}} | {{start}} &mdash; {{end}}</strong>
				<br>
				{{subject}}
				<br>
				{{strings.thesis}}: {{thesis}}.
			</p>
		{{/education}}
	</section>
</main>